*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "poppins",sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:rgb(18, 18, 33); ;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px 0 23px;
}
.left{
    font-size: 1.5rem;
}
.right a{
    text-decoration: none;
    color: white;
}
.right a:hover{
    font-size: 1.02rem;
    color: rgb(126, 126, 218);
}

.first-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;

}
.first-section > div{
    width: 37%;
}
.left-section{
    
    font-size: 3rem;
    
}
.left-section .buttons{
    padding: 50px 0;
}
.left-section .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 28px;
    cursor: pointer;
    /* margin: 13px 0; */
}
.btn:hover{
    background-color: #9c97f1;
}
.left-section > div{
    width: 36rem;
}
.purple{
    color: rgb(153, 70, 231);
}
#element{
    width: 576px;
    color: rgb(60, 10, 107);
}
.right-section{
    margin: 50px 0;
    width: 30px;
    
}
.right-section img{
    width: 80%;
}


.second-section{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.second-section h1{
    font-size: 1.9rem;
    margin: -1px 0 87px;
}
.text-grey{
    color: grey;
}
.second-section .box{
    background-color: white;
    width: 77vw;
    height: 3px;
    margin: 50px 20px 0 0;
    display: flex;
    justify-content: space-evenly;
    

}
.second-section .box .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 140px;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}
.vertical-title{
    position: relative;
    top: 75px;
    width: 158px;
}
.vertical-desc{
    position: relative;
    top: 86px;
    color: grey;
    width: 158px;
    font-size: 9px;
    line-height: 1.2rem;

}
.footer{
    background-color: rgb(18, 18, 33);
    height: 233px;
    padding: 33px 67px;
    display: flex;
    justify-content: space-evenly;

}
.footer ul{
    list-style-type: none;
}
.footer li{
    line-height: 37px;
}
.footer > div{
    width: 226px;
}

.footer-rights{
    text-align: center;
    padding: 12px 0;
    color: grey;
}